@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="landing-container" data-change-when-quiz-active>
	<div class="title-button-container" data-change-when-quiz-active>
		<div class="title-container" data-change-when-quiz-active>
			<h1 class="title" data-change-when-quiz-active>Science or Fiction</h1>
		</div>
		<div data-change-when-quiz-active class="begin-quiz-button-container">
			<button class="button main-button" onclick="beginQuiz();" data-change-when-quiz-active>Begin Quiz</button>
		</div>
	</div>
</div>
<section class="quiz-container-wrapper">
	<div data-quiz-container class="quiz-container-container"></div>
	<div class="quiz-footer-container">
		<div class="quiz-footer" data-change-when-quiz-active>
			<div class="quiz-progress-container">
				<div class="quiz-progress">
					<div data-change-when-quiz-active data-quiz-percentage-progress="0" class="quiz-progress-marker-container">
						<div data-quiz-current-question-number  class="quiz-progress-marker">
						</div>
					</div>
					<div class="quiz-progress-line"></div>
				</div>
			</div>
			<div class="quiz-footer-navigation-buttons-container">
				<button class="quiz-footer-navigation-button previous" onclick="goToPreviousQuestion()">〈</button>
				<button class="quiz-footer-navigation-button next" onclick="goToNextQuestion()">〉</button>
			</div>
		</div>
	</div>
</section>
<section class="templates hidden">
	<section data-quiz-template class="quiz-container">
		<div data-quiz-section data-quiz-question-number class="quiz-section-container">
			<div class="quiz-inner-container">
				<h3 class="quiz-question-type-text">Multiple Choice Question</h3>
				<div data-quiz-question-container class="quiz-question-container">
					<h3 class="quiz-question" data-quiz-question></h3>
				</div>
				<ul data-quiz-answers class="quiz-answers-container">
					<li data-quiz-answer data-answer-number class="quiz-answer"></li>
				</ul>
				<div data-quiz-question-number-text class="quiz-question-number"></div>
			</div>
		</div>
	</section>
</section>