@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="landing-container" data-change-when-quiz-active>
	<div class="title-button-container" data-change-when-quiz-active>
		<div class="title-container" data-change-when-quiz-active>
			<h1 class="title" data-change-when-quiz-active>Science or Fiction</h1>
		</div>
		<div data-change-when-quiz-active class="begin-quiz-button-container">
			<button class="button main-button" onclick="beginQuiz();" data-change-when-quiz-active>Begin Quiz</button>
		</div>
	</div>
</div>
<section class="quiz-container-wrapper">
	<div data-quiz-container class="quiz-container-container">
		<section class="quiz-template" v-bind:class="{'active': active}" id="quiz-template">
			<div class="quiz-container">
				<div v-for="section in sections" v-bind:data-quiz-question-number="section.questionNumber" class="quiz-section-container" v-bind:class="{'activeQuestion' : section.active, 'upcoming' : section.isUpcoming, 'preceding' : section.isPreceding}">
					<div class="quiz-inner-container">
						<h3 class="quiz-question-type-text">Multiple Choice Question</h3>
						<div data-quiz-question-container class="quiz-question-container">
							<h3 class="quiz-question">{{section.question}}</h3>
						</div>
						<ul data-quiz-answers class="quiz-answers-container">
							<li v-for="answer in section.answers" v-bind:data-answer-correct="answer.correct" class="quiz-answer">
								<ul class="rogue-answers-container">
									<li v-for="rogueAnswer in answer.rogueAnswers" class="rogue-answer-image-container">
										<img class="rogue-answer-image" v-bind:src="rogueAnswer.image" />
									</li>
								</ul>
								<p class="quiz-answer-text">{{answer.text}}</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="navigation-buttons-container">
				<button class="navigation-button previous-button" v-bind:class="{'disabled' : onFirstQuestion}" onclick="goToPreviousQuestion()">Previous</button>
				<button class="navigation-button next-button" v-bind:class="{'disabled' : onLastQuestion}" onclick="goToNextQuestion()">Next</button>
			</div>
		</section>
	</div>
	<div class="quiz-footer-container">
		<div class="quiz-footer" data-change-when-quiz-active>
			<div class="quiz-progress-container">
				<div class="quiz-progress">
					<div data-change-when-quiz-active data-quiz-percentage-progress="0" class="quiz-progress-marker-container">
						<div data-quiz-current-question-number  class="quiz-progress-marker">
						</div>
					</div>
					<div class="quiz-progress-line"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="quiz-results-container-container" id="quiz-results">
	<div class="quiz-results-container">
		<div class="quiz-results-header-container">
			<h3 class="quiz-results-header-text">Quiz Results</h3>
		</div>
		<div class="quiz-placing-container">
			<h5 class="quiz-place">
				{{placing}}
			</h5>
			<p class="quiz-percentage">{{percentage}}</p>
		</div>
		<div class="quiz-ranking-container">
			<ul class="quiz-ranking-list">
				<li v-for="quizRanking in quizRankings" class="quiz-ranking-list-item">
					<img class="rogue-ranking-image" v-bind:src="quizRanking.rogueImage" />
					<p class="quiz-rogue-name">{{quizRanking.rogueName}}</p>
				</li>
			</ul>
		</div>
	</div>
</section>

