* {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	margin: 0;
}


.hidden {
	display: none !important;
}
.invisible {
	opacity: 0 !important;
}



body {
	height: 100vh;
	background-color: #F5F2B7;
}
.body-content {
	height: 100%;
	flex-flow: column;
	overflow:hidden;
}

/*Main Title and Button*/
.title-container {
	margin: 30px 0;
}
.title {
	font-size: 72px;
	transition: transform 0.3s;
}
.title.quiz-active{
	transform: scale(0.3);
}

.landing-container {
	display: flex;
	flex-flow: column;
	position: absolute;
	width: 100%;
	justify-content: center;
	transform: translate(0, 30vh);
	transition: transform 0.3s;
}
	.landing-container.quiz-active {
		transform: translate(0, 0);
	}
.title-button-container {
	height: 100%;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	flex-flow: column;
}

.button {
	color: white;
	background-color: #145C90;
	border: none;
	outline: none;
	font-size: 18px;
	padding: 20px 40px;
	border-radius: 10px;
	box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.3);
	cursor: pointer;
}

.button:hover {
	background-color: #034B80;
}

.main-button {
	font-size: 30px;
	transition: transform 0.3s;
}
.main-button.quiz-active {
	transform: scale(0);
}
/*Quiz Container*/
.quiz-container-wrapper {
	height: 100%;
	display: flex;
	flex-flow: column;
}
.quiz-footer-container {
	margin-top: auto;
}
.quiz-footer {
	height: 100px;
	background: #125c90;
	transform: translate(0px, 100px);
	transition: transform 0.3s;
	display: flex;
	align-items: center;
}
.quiz-footer.quiz-active {
	transform: translate(0,0);
}

/*quiz progress*/
.quiz-progress-container {
	width: 80%;
	padding: 0 30px;
}
.quiz-progress {
	width: 100%;
}
.quiz-progress-line {
	width: 100%;
	height: 2px;
	background: #afc6d6;
}

/* quiz buttons*/
.quiz-footer-navigation-button {
	background: white;
	border-radius: 50px;
	height: 50px;
	width: 50px;
	border: none;
	cursor: pointer;
	font-size: 30px;
}

